In [1]:
#Dependencies
import pandas as pd
from sqlalchemy import create_engine

# 2016 Primary Results by County

In [2]:
#Store cvs file path in a variable
csv_e2016 = "../Resources/primary_results.csv"

#Read CSV into a Pandas dataframe
E2016_df = pd.read_csv(csv_e2016)

#Edit df to include only state, county, party and votes columns
primary2016_df = E2016_df[['state','county','party','votes']].copy()
primary2016_df = primary2016_df.rename(columns={'county':'ga_county'})

#Edit df to only include GA counties
GA2016_df = primary2016_df.loc[(primary2016_df['state']=="Georgia")]

#Set up separate dfs for each party
REP_2016_df = GA2016_df.loc[(GA2016_df['party'] == 'Republican')]
DEM_2016_df = GA2016_df.loc[(GA2016_df['party'] == 'Democrat')]

#Merge dfs to create 1 with both party data
Party_2016_df = pd.merge(REP_2016_df, DEM_2016_df, how = 'outer', on='ga_county')

#Remove unnecessary and rename resulting columns
Party_2016_df = Party_2016_df[['ga_county', 'party_x', 'votes_x', 'party_y', 'votes_y']]
Party_2016_df = Party_2016_df.rename(columns = {'party_x': 'party', 'votes_x':'republican_votes', 'party_y':'party_', 'votes_y':'democrat_votes'})

#Remove "county" and make all capital to match Race data tables
Party_2016_df['ga_county'] = Party_2016_df['ga_county'].str.split(" ",expand = True)
Party_2016_df['ga_county'] = Party_2016_df['ga_county'].str.upper()

##Party_2016_df includes columns indicating party, as well as rows for each (possibly) precint within a county

#Aggregate County Data - total votes per party per county
county_counts = Party_2016_df.groupby(['ga_county'])
county_counts_df = county_counts.sum()

#Add column to show total votes for each county
county_counts_df['total_votes'] = county_counts_df['republican_votes'] + county_counts_df['democrat_votes']
county_counts_df

           republican_votes  democrat_votes  total_votes
ga_county
APPLING                6106            3160         9266
ATKINSON               1868            1250         3118
BACON                  3316             855         4171
BAKER                   848            1755         2603
BALDWIN                8888           18980        27868
...                     ...             ...          ...
WHITFIELD             25196           14215        39411
WILCOX                 2150            1715         3865
WILKES                 2976            4215         7191
WILKINSON              2518            4935         7453
WORTH                  6718            4250        10968

[159 rows x 3 columns]

# 2020 Election Results by County

In [3]:
#Store cvs file path in a variable
csv_e2020 = "../Resources/president_county_candidate.csv"

#Read CSV into a Pandas dataframe
E2020_df = pd.read_csv(csv_e2020)

#Edit df to rename columns
E2020_df = E2020_df.rename(columns={'county':'ga_county'})

#Edit to only include GA counties
GA2020_df = E2020_df.loc[(E2020_df['state']=="Georgia")]

#Create new dfs to show only Democrat and Republican party results
GA_REP_df = GA2020_df.loc[(GA2020_df['party'] == 'REP')]
GA_DEM_df = GA2020_df.loc[(GA2020_df['party'] == 'DEM')]

#Merge DEM/REP Dataframes
GA_2020_df = pd.merge(GA_REP_df, GA_DEM_df, how='outer', on='ga_county')

#Remove and rename resulting columns
GA_party_df = GA_2020_df[['ga_county', 'candidate_x', 'total_votes_x', 'candidate_y', 'total_votes_y']]
GA_party_df = GA_party_df.rename(columns = {'candidate_x': 'republican', 'total_votes_x':'rep_votes', 'candidate_y':'democrat', 'total_votes_y':'dem_votes'})

#Add column with total votes for each county
GA_party_df['total_votes'] = GA_party_df['rep_votes'] + GA_party_df['dem_votes']

#Remove "county" and make all capital to match Race data tables
GA_party_df['ga_county'] = GA_party_df['ga_county'].str.split(" ",expand = True)
GA_party_df['ga_county'] = GA_party_df['ga_county'].str.upper()
GA_party_df

     ga_county    republican  rep_votes   democrat  dem_votes  total_votes
0      APPLING  Donald Trump       6526  Joe Biden       1779         8305
1     ATKINSON  Donald Trump       2300  Joe Biden        825         3125
2        BACON  Donald Trump       4018  Joe Biden        625         4643
3        BAKER  Donald Trump        897  Joe Biden        652         1549
4      BALDWIN  Donald Trump       8903  Joe Biden       9140        18043
..         ...           ...        ...        ...        ...          ...
154  WHITFIELD  Donald Trump      25636  Joe Biden      10670        36306
155     WILCOX  Donald Trump       2403  Joe Biden        862         3265
156     WILKES  Donald Trump       2823  Joe Biden       2160         4983
157  WILKINSON  Donald Trump       2664  Joe Biden       2075         4739
158      WORTH  Donald Trump       6830  Joe Biden       2395         9225

[159 rows x 6 columns]

## Load to Postgres

In [15]:
#Connect to local database
rds_connection_string = "postgres:postgres@localhost:5432/ga_election_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

#Check for tables
engine.table_names()

#Use pandas to load 2020 DataFrame into database
GA_party_df.to_sql(name='election_2020_ga', con=engine, if_exists='append', index=False)

#Use pandas to load 2016 DataFrame into database
county_counts_df.to_sql(name='primary_2016_ga', con=engine, if_exists='append', index=True)

['election_2020_ga',
 'primary_2016_ga',
 'race_data_2016',
 'fulton_trump_2020',
 'fulton_biden_2020',
 'race_data_2020']

## Confirm that data loaded into Postgres

In [9]:
pd.read_sql_query('select * from primary_2016_ga', con=engine).head()

  ga_county  republican_votes  democrat_votes  total_votes
0   APPLING              6106            3160         9266
1  ATKINSON              1868            1250         3118
2     BACON              3316             855         4171
3     BAKER               848            1755         2603
4   BALDWIN              8888           18980        27868

In [10]:
pd.read_sql_query('select * from election_2020_ga', con=engine).head()

  ga_county    republican  rep_votes   democrat  dem_votes  total_votes
0   APPLING  Donald Trump       6526  Joe Biden       1779         8305
1  ATKINSON  Donald Trump       2300  Joe Biden        825         3125
2     BACON  Donald Trump       4018  Joe Biden        625         4643
3     BAKER  Donald Trump        897  Joe Biden        652         1549
4   BALDWIN  Donald Trump       8903  Joe Biden       9140        18043

## Sample Query

In [7]:
#Import query dependencies
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import func

# Reflect Database into ORM classes
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()
session = Session(engine)

In [17]:
E2020 = Base.classes.election_2020_ga
Race2020 = Base.classes.race_data_2020

session.query(E2020.ga_county, E2020.total_votes, Race2020.total_voters).\
    filter(E2020.ga_county == Race2020.ga_county).all()

[('APPLING', 8305, 11440),
 ('ATKINSON', 3125, 4801),
 ('BACON', 4643, 6726),
 ('BAKER', 1549, 2258),
 ('BALDWIN', 18043, 26742),
 ('BANKS', 8727, 12905),
 ('BARROW', 37257, 55694),
 ('BARTOW', 49766, 74380),
 ('BERRIEN', 7688, 11317),
 ('BIBB', 70053, 108126),
 ('BLECKLEY', 5639, 7558),
 ('BRANTLEY', 7690, 11302),
 ('BROOKS', 7050, 11170),
 ('BRYAN', 20983, 30651),
 ('BULLOCH', 29629, 44737),
 ('BURKE', 10609, 16570),
 ('BUTTS', 11680, 17195),
 ('CALHOUN', 2183, 3187),
 ('CAMDEN', 23218, 35141),
 ('CANDLER', 4402, 6328),
 ('CARROLL', 53714, 83866),
 ('CATOOSA', 32099, 45785),
 ('CHARLTON', 4522, 6562),
 ('CHATHAM', 131491, 202999),
 ('CHATTAHOOCHEE', 1547, 3943),
 ('CHATTOOGA', 9918, 14183),
 ('CHEROKEE', 142381, 190605),
 ('CLARKE', 50494, 76848),
 ('CLAY', 1427, 2053),
 ('CLAYTON', 111289, 194338),
 ('CLINCH', 2852, 4345),
 ('COBB', 387305, 537659),
 ('COFFEE', 15089, 25165),
 ('COLQUITT', 15964, 25087),
 ('COLUMBIA', 79249, 107656),
 ('COOK', 6959, 10650),
 ('COWETA', 75711, 102262),
 ('CRAWFORD', 6043, 8536),
 ('CRISP', 7973, 12560),
 ('DADE', 7327, 11682),
 ('DAWSON', 15884, 21557),
 ('DECATUR', 11538, 16726),
 ('DEKALB', 366600, 547802),
 ('DODGE', 8014, 11464),
 ('DOOLY', 4070, 5966),
 ('DOUGHERTY', 35031, 61402),
 ('DOUGLAS', 68260, 101613),
 ('EARLY', 5159, 7340),
 ('ECHOLS', 1423, 2170),
 ('EFFINGHAM', 31078, 44372),
 ('ELBERT', 9105, 12330),
 ('EMANUEL', 9435, 13844),
 ('EVANS', 4212, 6148),
 ('FANNIN', 14740, 20399),
 ('FAYETTE', 71017, 92427),
 ('FLOYD', 41131, 60749),
 ('FORSYTH', 127325, 164279),
 ('FRANKLIN', 10662, 15170),
 ('FULTON', 518384, 808742),
 ('GILMER', 16361, 22315),
 ('GLASCOCK', 1558, 2040),
 ('GLYNN', 41495, 61947),
 ('GORDON', 23789, 36431),
 ('GRADY', 10653, 15441),
 ('GREENE', 11156, 14197),
 ('GWINNETT', 408240, 582917),
 ('HABERSHAM', 20200, 28318),
 ('HALL', 89201, 128535),
 ('HANCOCK', 4144, 5835),
 ('HARALSON', 14123, 20692),
 ('HARRIS', 19776, 25690),
 ('HART', 12621, 16942),
 ('HEARD', 5340, 7772),
 ('HENRY', 121463, 172241),
 ('HOUSTON', 73766, 105587),
 ('IRWIN', 4142, 6124),
 ('JACKSON', 37139, 52010),
 ('JASPER', 7583, 10434),
 ('JEFFERSON', 7598, 11350),
 ('JENKINS', 3427, 5075),
 ('JOHNSON', 4072, 5610),
 ('JONES', 14853, 20406),
 ('LAMAR', 8945, 12872),
 ('LANIER', 3528, 5496),
 ('LAURENS', 22566, 32874),
 ('LEE', 16565, 22930),
 ('LIBERTY', 21058, 35970),
 ('LINCOLN', 4614, 6182),
 ('LONG', 5561, 9683),
 ('LOWNDES', 45808, 75535),
 ('LUMPKIN', 15289, 22412),
 ('MACON', 4640, 7079),
 ('MADISON', 14737, 20737),
 ('MARION', 3586, 4922),
 ('MCDUFFIE', 10337, 15083),
 ('MCINTOSH', 6628, 9320),
 ('MERIWETHER', 10811, 15336),
 ('MILLER', 2815, 3920),
 ('MITCHELL', 8930, 13481),
 ('MONROE', 15444, 21151),
 ('MONTGOMERY', 3939, 5467),
 ('MORGAN', 11585, 14843),
 ('MURRAY', 15245, 22340),
 ('MUSCOGEE', 79578, 132029),
 ('NEWTON', 53663, 79098),
 ('OCONEE', 24757, 30051),
 ('OGLETHORPE', 8029, 10848),
 ('PAULDING', 84229, 115297),
 ('PEACH', 12422, 18164),
 ('PICKENS', 16883, 23820),
 ('PIERCE', 8999, 12735),
 ('PIKE', 10632, 13825),
 ('POLK', 17247, 24256),
 ('PULASKI', 4022, 5712),
 ('PUTNAM', 11739, 16000),
 ('QUITMAN', 1101, 1553),
 ('RABUN', 9458, 13074),
 ('RANDOLPH', 3062, 4338),
 ('RICHMOND', 85905, 135428),
 ('ROCKDALE', 44256, 65573),
 ('SCHLEY', 2262, 2890),
 ('SCREVEN', 6577, 9610),
 ('SEMINOLE', 3865, 5937),
 ('SPALDING', 29841, 46088),
 ('STEPHENS', 11753, 18078),
 ('STEWART', 1983, 2909),
 ('SUMTER', 12050, 18033),
 ('TALBOT', 3506, 4567),
 ('TALIAFERRO', 921, 1246),
 ('TATTNALL', 8114, 12216),
 ('TAYLOR', 3805, 5405),
 ('TELFAIR', 4312, 6076),
 ('TERRELL', 4380, 6625),
 ('THOMAS', 21662, 30218),
 ('TIFT', 16106, 24551),
 ('TOOMBS', 10811, 16227),
 ('TOWNS', 7934, 10189),
 ('TREUTLEN', 3053, 4248),
 ('TROUP', 29721, 43169),
 ('TURNER', 3759, 5604),
 ('TWIGGS', 4414, 6308),
 ('UNION', 15452, 19235),
 ('UPSON', 12809, 18187),
 ('WALKER', 28943, 43050),
 ('WALTON', 50524, 70129),
 ('WARE', 14076, 20580),
 ('WARREN', 2635, 3789),
 ('WASHINGTON', 9393, 12994),
 ('WAYNE', 12674, 18164),
 ('WEBSTER', 1387, 1713),
 ('WHEELER', 2272, 3169),
 ('WHITE', 14633, 20630),
 ('WHITFIELD', 36306, 54779),
 ('WILCOX', 3265, 4562),
 ('WILKES', 4983, 6836),
 ('WILKINSON', 4739, 6484),
 ('WORTH', 9225, 13847)]